/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 juil. 2015, 10:46:17
    Author     : SKOUNKOU
*/
.test{
    background-color: yellow;
    width: 400px;
    height: 400px;
}

b{
    color : white;
}

.myText{
    color: #ed2154;
    height: 900px;
}

.myActivity:hover,
.myEvent:hover{
    background-color : rgba(255,0,0,0.2);
    color : white;
    text-decoration-color: white;
}

.myContact{
    background-color : #B6014F;
}